.question-view {
  display: flex;
  flex-direction: row;
}

.categories-list {
  flex-basis: 25%;
  flex-shrink: 2;
  color: white;
}

.categories-list>form {
  width: 60%;
}

.categories-list>ul>li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 20px;
  border-radius: 4px;
  background-color: rgb(49, 45, 133);
  padding: 5px 25px 5px 15px;
}

.categories-list>ul>li:hover {
  display: flex;
  justify-content: flex-start;
  border-left: 3px solid #E65392;
  background-color: #5993E6;
  padding: 5px 22px 5px 15px;
  cursor: pointer;
}

.categories-list>ul>li>span {
  margin-left: 10px;
}

.questions-list {
  flex-basis: 75%;
  height: auto;
  text-align: center;
  /* overflow-y: auto; */
  color: white;
}

.Question-holder {
  transition: all 0.15s;
  padding: 10px 20px;
  border: none;
  background-color: rgb(49, 45, 133);
  text-align: left;
  margin: 20px;
  border-radius: 16px;
  /* box-shadow: 1px 1px 5px 0px #adadad; */
  border: 1px solid rgba(255, 255, 255, 0.452);
}

.Question-holder:hover {
  border: 1px solid rgba(235, 235, 235, 0);
  transition: all 0.25s;
  /* background-color: #bfbfbf00; */
  box-shadow: 1px 1px 22px 0px #bfbfbf;
}

.Question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}

.Question {
  font-size: 23px;
  font-weight: 600;
  width: 100%;
  color: white;
}

.answer-holder {
  font-size: 25px;
  height: 25px;
  margin: 5px 0px;
}

.show-answer {
  width: auto;
  margin-top: 5px;
  background-color: dodgerblue;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  margin-left: 0px !important;
}

.pagination-menu {
  margin-bottom: 50px;
}

span.page-num {
  margin: 5px;
  padding: 5px 10px;
  margin-bottom: 50px;
  /* color: blue; */
  border-radius: 4px;
  font-weight: bolder;
  /* text-decoration: underline; */
  font-size: 16px;
background-color: white;
color: #E65392;
}

span.page-num.active {
  color: white;
  background-color: #E65392;
}

span.page-num:hover {
  cursor: pointer;
}

img.category {
  width: 30px;
}

img.delete {
  width: 20px;
  cursor: pointer;
}

